@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

#hero-heading {
    font-family: 'Poppins', sans-serif;
}


.btn-shadow {
    box-shadow: 0px 12px 24px -8px rgba(59, 79, 228, 0.4);
}

.box-shadow-bk {
    box-shadow: 0px 40px 120px -40px rgba(0, 0, 0, 0.24);
}

.box-shadow-bl {
    box-shadow: 24px 32px 80px -16px rgba(59, 79, 228, 0.65);
}

.bg-icon-span-bl {
    height: 45px;
    width: 45px;
    background-color: rgba(59, 79, 228, 0.1);
}

.bg-icon-span-wh {
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.23);
}




.sec-01 {
    height: 100vh;
    background-image: url(../media/charles-deluvio-Lks7vei-eAg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 120px 0px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(40, 44, 75, 0.6);
    border-radius: 0px 0px 120px 0px;
}



.sec-06 {
    background-color: #2d3369;
}